<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Home page</h1>
        <a href="{% url 'compare_countries' %}" class="btn btn-primary">Compare</a>
        <a href="{% url 'show_on_map' %}" class="btn btn-primary">Show on Map</a>
    </div>
</body>
</html>
